div#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    margin: 0 auto;
}

.grid-item {
    background: red;
    border: 1px solid black;
}

.grid-item.hovered{
    background:black;
}